
# DAS WIRD SPÄTER MIT COMPOSE_PROJECT_NAME ERSETZT, WEIL ES MIR PASSENDER ERSCHEINT
# Containers Stak
STACK_NAME="adempiere-ui-gateway"

# Project name. Ist Name des Projektes bei Aufruf von "docker compose convert" oder "docker compose ls"
CLIENT_NAME="shw-test"
COMPOSE_PROJECT_NAME=${CLIENT_NAME}-gateway

# Global settings
HOST_IP=0.0.0.0
#HOST_IP=192.168.1.29
HOST_URL=http://${HOST_IP}

# Sync timezone of containers with timezone of hosts
TIMEZONE_PATH_ON_HOST="/etc/timezone"
TIMEZONE_PATH_ON_CONTAINER="/etc/timezone"
TIMEZONE_OPTIONS="ro"

# Sync local time of containers with local time of hosts
LOCALTIME_PATH_ON_HOST="/etc/localtime"
LOCALTIME_PATH_ON_CONTAINER="/etc/localtime"
LOCALTIME_OPTIONS="ro"

# Docker
DOCKERFILE_NAME=postgres.Dockerfile
HOME_PATH_ON_CONTAINERS=/home/adempiere
ADEMPIERE_GITHUB_VERSION=3.9.4
ADEMPIERE_GITHUB_COMPRESSED_FILE=Adempiere_394LTS.tar.gz
ADEMPIERE_GITHUB_ARTIFACT=https://github.com/adempiere/adempiere/releases/download/${ADEMPIERE_GITHUB_VERSION}/${ADEMPIERE_GITHUB_COMPRESSED_FILE}

# Main Frontend
ADEMPIERE_SITE_IMAGE="openls/adempiere-landing-page:alpine-1.0.3"
ADEMPIERE_SITE_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.site
# ADEMPIERE_SITE_HOST="${STACK_NAME}.adempiere.site"
ADEMPIERE_SITE_HOSTNAME=${CLIENT_NAME}.site
#ADEMPIERE_SITE_PORT=1170                   # Im Originalprojekt der externe Port
ADEMPIERE_SITE_PORT=80                      # Im alten all-services-Projekt: der interne Port
ADEMPIERE_SITE_EXTERNAL_PORT=8080           # Im alten all-services-Projekt: der externe Port. Noch nicht in docker-compose.yml verwendet.
# ADEMPIERE_SITE_VUE_HOST="http://0.0.0.0/vue"
ADEMPIERE_SITE_VUE_URL=${HOST_URL}/vue
# ADEMPIERE_SITE_ZK_HOST="http://0.0.0.0/webui"
ADEMPIERE_SITE_ZK_URL=${HOST_URL}/webui
# ADEMPIERE_SITE_SCHEDULER_HOST="http://0.0.0.0/ui"
ADEMPIERE_SITE_SCHEDULER_URL=${HOST_URL}/ui

# Database
POSTGRES_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.postgres
POSTGRES_HOSTNAME=${CLIENT_NAME}.pg
POSTGRES_DATABASE_NAME=adempiere

POSTGRES_PASSWORD="postgres"
POSTGRES_PORT="5432"
POSTGRES_EXTERNAL_PORT="55432"
POSTGRES_DEFAULT_DB_PATH_ON_CONTAINER=/var/lib/postgresql/data
POSTGRES_DB_BACKUP_PATH_ON_CONTAINER=${HOME_PATH_ON_CONTAINERS}/backups
POSTGRES_CONTEXT_PATH_ON_HOST=${PWD}/postgresql
POSTGRES_DB_PATH_ON_HOST=${POSTGRES_CONTEXT_PATH_ON_HOST}/postgres_database
POSTGRES_BACKUP_PATH_ON_HOST=${POSTGRES_CONTEXT_PATH_ON_HOST}/backups
POSTGRES_RESTORE_FILE_NAME=seed.backup
POSTGRES_DEFAULT_RESTORE_FILE=${POSTGRES_DB_BACKUP_PATH_ON_CONTAINER}/${POSTGRES_RESTORE_FILE_NAME}

POSTGRES_IMAGE_REPO_NAME=${COMPOSE_PROJECT_NAME}.virtual_repo.pg

POSTGRES_IMAGE="postgres:13"
#POSTGRES_HOST="${STACK_NAME}.adempiere.database"  # 1. Änderung: 
#POSTGRES_HOST=${CLIENT_NAME}-pg    #  2. Änderung: ERSETZT MIT "POSTGRES_CONTAINER_NAME". DIESE BEIDEN ZEILEN MÜSSEN VERSCHWINDEN.
POSTGRES_PORT=5432
POSTGRES_PASSWORD="adempiere"
# POSTGRES_VOLUME="${STACK_NAME}.volume_postgres"  # Definiert mit allen anderen Volumes ganz unten...


# Adempiere ZK UI
ADEMPIERE_ZK_IMAGE="openls/adempiere-zk-ui:jetty-1.0.6"
# Look for newest tag at https://hub.docker.com/r/marcalwestf/adempiere-zk-ui/tags
# ADEMPIERE_ZK_IMAGE="marcalwestf/adempiere-zk-ui:jetty-shw-air-terminal-vertical-1.0.84"   # Wie bei all-services
ADEMPIERE_ZK_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.zk
# ADEMPIERE_ZK_HOST="${STACK_NAME}.adempiere.zk"
ADEMPIERE_ZK_HOSTNAME=${CLIENT_NAME}.zk
# ADEMPIERE_ZK_PORT=1171                        # Im Originalprojekt der externe Port
ADEMPIERE_ZK_PORT=8080                          # Im alten all-services-Projekt: der interne Port
ADEMPIERE_ZK_EXTERNAL_PORT=8888                 # Im alten all-services-Projekt: der externe Port. Noch nicht in docker-compose.yml verwendet.
# ADEMPIERE_ZK_DB_HOST=${POSTGRES_HOST}
ADEMPIERE_ZK_DB_HOST=${POSTGRES_CONTAINER_NAME}
ADEMPIERE_ZK_DB_PORT=${POSTGRES_PORT}
ADEMPIERE_ZK_DB_NAME=${POSTGRES_DATABASE_NAME}
ADEMPIERE_ZK_DB_PASSWORD=${POSTGRES_PASSWORD}

# ZK UI: Files to be persistent and thus shared between host and containers (e.g. ZK)
ADEMPIERE_ZK_PERSISTENT_FILES_DIRECTORY_NAME=persistent_files
ADEMPIERE_ZK_PERSISTENT_FILES_PATH_ON_CONTAINER=${HOME_PATH_ON_CONTAINERS}/${ADEMPIERE_ZK_PERSISTENT_FILES_DIRECTORY_NAME}
ADEMPIERE_ZK_CONTEXT_PATH_ON_HOST=${POSTGRES_CONTEXT_PATH_ON_HOST}
ADEMPIERE_ZK_PERSISTENT_FILES_PATH_ON_HOST=${ADEMPIERE_ZK_CONTEXT_PATH_ON_HOST}/${ADEMPIERE_ZK_PERSISTENT_FILES_DIRECTORY_NAME}


# ADempiere Processors gRPC Server
ADEMPIERE_PROCESSOR_IMAGE="openls/adempiere-processors-service:alpine-1.0.2"
# ADEMPIERE_PROCESSOR_IMAGE="marcalwestf/adempiere-processors-service:alpine-1.0.4"
ADEMPIERE_PROCESSOR_CONTAINER_NAME=${COMPOSE_PROJECT_NAME}.processor
# ADEMPIERE_PROCESSOR_HOST="${STACK_NAME}.processor"    #  Änderung: ERSETZT MIT "ADEMPIERE_PROCESSOR_HOSTNAME".
ADEMPIERE_PROCESSOR_HOSTNAME=${CLIENT_NAME}.processor
ADEMPIERE_PROCESSOR_PORT=50060
#ADEMPIERE_PROCESSOR_DB_HOST=${POSTGRES_HOST}                       # Verwendet der passendere Name ADEMPIERE_PROCESSOR_DB_CONTAINER_NAME
ADEMPIERE_PROCESSOR_DB_CONTAINER_NAME=${POSTGRES_CONTAINER_NAME}
ADEMPIERE_PROCESSOR_DB_PORT=${POSTGRES_PORT}
ADEMPIERE_PROCESSOR_DB_NAME=${POSTGRES_DATABASE_NAME}
ADEMPIERE_PROCESSOR_DB_PASSWORD=${POSTGRES_PASSWORD}


# dKron task scheduler
DKRON_IMAGE="dkron/dkron"
DKRON_HOST="${STACK_NAME}.dkron"
DKRON_PORT=8088
DKRON_VOLUME="${STACK_NAME}.volume_dkron"


# Zookeeper manage kafka brokers
ZOOKEEPER_IMAGE="confluentinc/cp-zookeeper:latest"
ZOOKEEPER_HOST="${STACK_NAME}.zookeeper"
ZOOKEEPER_PORT=2181

## Kafka queue manager
KAFKA_BROKER_HOST="api.adempiere.io"
KAFKA_IMAGE="confluentinc/cp-kafka:latest"
KAFKA_HOST="${STACK_NAME}.kafka"
KAFKA_PORT=29092


# ADempiere gRPC Server
GRPC_SERVER_IMAGE="solopcloud/adempiere-backend:alpine-2.2.1"
GRPC_SERVER_HOST="${STACK_NAME}.adempiere.grpc.server"
#GRPC_SERVER_DB_HOST=${POSTGRES_HOST}
GRPC_SERVER_DB_HOST=${POSTGRES_CONTAINER_NAME}
GRPC_SERVER_DB_PORT=${POSTGRES_PORT}
GRPC_SERVER_DB_NAME="adempiere"
GRPC_SERVER_DB_PASSWORD=${POSTGRES_PASSWORD}
GRPC_SERVER_JWT_SECRET_KEY="08AE01B0AD3E7E0554F227ADE6C00E5D52382148F4FEA8CFA1AA7BE4D9B9DE05"
GRPC_SERVER_IS_ENABLED_ALL_SERVICES="true"
GRPC_SERVER_SERVICES_ENABLED="bank_statement_match; business; business_partner; core; dashboarding; dictionary; enrollment; express_movement; express_receipt; express_shipment; file_management; general_ledger; import_file_loader; in_out; invoice; issue_management; location_address; log; match_po_receipt_invoice; material_management; notice_management; order; payment; payment_allocation; payment_print_export; payroll_action_notice; pos; product; record_management; report_management; security; store; time_control; time_record; user_interface; user_customization; workflow;"


# Envoy Proxy Definition
GRPC_PROXY_IMAGE="envoyproxy/envoy:v1.27.0"
GRPC_PROXY_HOST="${STACK_NAME}.grpc.proxy"
GRPC_PROXY_BACKEND_IMAGE="solopcloud/adempiere-grpc-proxy:2.2.1"
GRPC_PROXY_BACKEND_PORT=5555
GRPC_PROXY_BACKEND_HOST=${GRPC_SERVER_HOST}
#GRPC_PROXY_PROCESSOR_HOST=${ADEMPIERE_PROCESSOR_HOST}                          # Zurzeit keine Anwendung in docker-compose.yml
GRPC_PROXY_PROCESSOR_HOST=${ADEMPIERE_PROCESSOR_CONTAINER_NAME}                 # Zurzeit keine Anwendung in docker-compose.yml
GRPC_PROXY_PROCESSOR_PORT=5556


# Nginx Gateway
GATEWAY_IMAGE="nginx:1.25.2-alpine3.18"
GATEWAY_HOST="${STACK_NAME}.ui.gateway"
GATEWAY_PORT=80
GATEWAY_VOLUME="${STACK_NAME}.volume_nginx"


# S3
S3_IMAGE="quay.io/minio/minio"
S3_HOST="${STACK_NAME}.s3.service"
S3_PORT=1066
S3_CONSOLE_PORT=1067
S3_USER="adempiere"
S3_PASSWORD="adempiere"
S3_VOLUME="${STACK_NAME}.volume_s3"


# ADempiere UI Vue
VUE_UI_IMAGE="solopcloud/adempiere-vue:alpine-3.4.1"
VUE_UI_HOST="${STACK_NAME}.vue.ui"
VUE_UI_PORT=9526
VUE_UI_API_URL="http://0.0.0.0/api/"
VUE_UI_PUBLIC_PATH="/vue/"


# OpenSearch search engine
OPENSEARCH_IMAGE="opensearchproject/opensearch:2.11.1"
OPENSEARCH_HOST="${STACK_NAME}.opensearch"
OPENSEARCH_PORT=9200
OPENSEARCH_PERFORMANCE_PORT=9600
OPENSEARCH_VOLUME="${STACK_NAME}.volume_opensearch"

# OpenSearch restore db
OPENSEARCH_SETUP_HOST="${STACK_NAME}.opensearch_setup"

# OpenSearch API RESTful
OPENSEARCH_GATEWAY_RS_IMAGE="openls/opensearch-gateway-rs:1.0.8"
OPENSEARCH_GATEWAY_RS_HOST="${STACK_NAME}.opensearch.gateway.rs"
OPENSEARCH_GATEWAY_RS_PORT=7878
OPENSEARCH_GATEWAY_RS_KAFKA_HOST="${KAFKA_HOST}:${KAFKA_PORT}"
OPENSEARCH_GATEWAY_RS_OPENSEARCH_URL="http://${OPENSEARCH_HOST}:${OPENSEARCH_PORT}"


# Generic Restart
GENERIC_RESTART="always"

# Networks
#DEFAULT_NETWORK="default-stack.network"
# Network
ADEMPIERE_NETWORK=${COMPOSE_PROJECT_NAME}.network
NETWORK_SUBNET=192.168.100.0/24
NETWORK_GATEWAY=192.168.100.1
NETWORK_IP_RANGE=192.168.10.0/24

# Volumes
POSTGRES_VOLUME=${COMPOSE_PROJECT_NAME}.volume_postgres
BACKUPS_VOLUME=${COMPOSE_PROJECT_NAME}.volume_backups
PERSISTENT_FILES_VOLUME=${COMPOSE_PROJECT_NAME}.volume_persistent_files
